<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Main style -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- Document title -->
    <title>vue-email-list</title>
</head>
<body>
    <div id="app">
        <ul v-if="emails.length < 10 ? false : true">
            <li v-for="(email, index) in emails">
                {{ email }}
            </li>
        </ul>
    </div>
    
    <!-- Script Links -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>